<h1>Productos </h2>

<div id="productCard"></div>

<form> 
 <input placeholder="Title"/>
 <input placeholder="Description"/>
  <input placeholder="Price"/>
  <input placeholder="Thumbnail"/>
  <input placeholder="Code"/>
  <input placeholder="Stock"/>
  <input placeholder="Category"/>
  <button>Agregar Producto</button>
  
</form>

<form id="deleteForm" > 
  <input id="inputId" placeholder="id del producto"/>
  <button type="submit" id="btnDelete">Eliminar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>