<h1>Productos </h2>

<div id="productCard"></div>

<form> 
 <input placeholder="Title"/>
 <input placeholder="Description"/>
  <input placeholder="Price"/>
  <input placeholder="Thumbnail"/>
  <input placeholder="Code"/>
  <input placeholder="Stock"/>
  <input placeholder="Category"/>
  <button>Agregar Producto</button>
  
</form>

<form class="deleteForm"> 
  <input placeholder="id del producto"/>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>